<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form th:fragment="pipelineDeleteBtn(actionUrl, confirmMessage)"
      th:action="${actionUrl}" method="post" class="table-action-form"
      th:attr="onsubmit=|return confirm('${confirmMessage}');|">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit" class="table-btn delete" title="Delete">
        <i class="fa-solid fa-trash"></i>
        <span>Delete</span>
    </button>
</form>

</body>
</html>
